[submodule "blocks"]
	path = libs/blocks
	url = https://github.com/rizar/blocks
[submodule "Theano"]
	path = libs/Theano
	url = https://github.com/rizar/Theano
[submodule "fuel"]
	path = libs/fuel
	url = https://github.com/rizar/fuel.git
[submodule "libs/picklable-itertools"]
	path = libs/picklable-itertools
	url = https://github.com/mila-udem/picklable-itertools.git
[submodule "libs/blocks-extras"]
	path = libs/blocks-extras
	url = https://github.com/mila-udem/blocks-extras.git
