[submodule "blocks"]
	path = blocks
	url = git@github.com:rizar/blocks.git
[submodule "Theano"]
	path = Theano
	url = https://github.com/rizar/Theano
[submodule "fuel"]
	path = fuel
	url = git@github.com:rizar/fuel.git
